In [40]:
import pandas as pd
import numpy as np

In [41]:
df=pd.read_csv('fitness_trackers.csv')
df.head(10)

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,"2,499","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,"2,099","2,499",AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,"1,722","2,099",LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,"2,469","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,"1,799","2,199",OLED Display,4.3,Plastic,7,NaN
5,Xiaomi,FitnessBand,Band - HRX Edition,Black,"1,299","1,799",OLED Display,4.2,Plastic,20,NaN
6,Xiaomi,FitnessBand,Band 2,Black,"2,499","2,499",OLED Display,4.3,Plastic,7,NaN
7,Xiaomi,Smartwatch,Revolve,Black,"12,349","15,999",AMOLED Display,4.4,Silicone,14,2
8,Xiaomi,Smartwatch,RevolveActive,Black,"12,999","15,999",AMOLED Display,4.4,Silicone,14,3
9,Xiaomi,FitnessBand,Smart Band 3i,Black,"1,270","1,599",OLED Display,4.2,Thermoplastic polyurethane,7,NaN

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand Name                      610 non-null    object
 1   Device Type                     610 non-null    object
 2   Model Name                      610 non-null    object
 3   Color                           610 non-null    object
 4   Selling Price                   610 non-null    object
 5   Original Price                  610 non-null    object
 6   Display                         610 non-null    object
 7   Rating (Out of 5)               554 non-null    float64
 8   Strap Material                  610 non-null    object
 9   Average Battery Life (in days)  610 non-null    int64
 10  Reviews                         114 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 52.6+ KB

In [43]:
df.describe()

       Rating (Out of 5)  Average Battery Life (in days)
count         554.000000                      610.000000
mean            4.195668                        8.926230
std             0.422576                        7.632107
min             2.000000                        1.000000
25%             4.000000                        2.000000
50%             4.200000                        7.000000
75%             4.500000                       14.000000
max             5.000000                       45.000000

In [44]:
df.isnull().sum()

Brand Name                          0
Device Type                         0
Model Name                          0
Color                               0
Selling Price                       0
Original Price                      0
Display                             0
Rating (Out of 5)                  56
Strap Material                      0
Average Battery Life (in days)      0
Reviews                           496
dtype: int64

In [45]:
df['Selling Price'] = pd.to_numeric(df['Selling Price'].astype(str).str.replace(',','',regex=False),errors='coerce')

In [46]:
df['Original Price'] = pd.to_numeric(df['Original Price'].astype(str).str.replace(',','',regex=False),errors='coerce')

In [47]:
df['Reviews'] = pd.to_numeric(df['Reviews'].astype(str).str.replace(',','',regex=False),errors='coerce')

In [48]:
df[df.duplicated(keep=False)]

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
14,FitBit,Smartwatch,Versa 3,"Black, Blue, Pink",17999,18999,AMOLED Display,4.3,Elastomer,7,NaN
50,FitBit,Smartwatch,Versa 3,"Black, Blue, Pink",17999,18999,AMOLED Display,4.3,Elastomer,7,NaN
360,APPLE,Smartwatch,Series 6 GPS + Cellular 40 mm Red Aluminium Case,Red,45690,49900,OLED Retina Display,4.5,Aluminium,1,NaN
373,APPLE,Smartwatch,Series 6 GPS 44 mm Blue Aluminium Case,Deep Navy,43900,43900,OLED Retina Display,4.5,Aluminium,1,NaN
383,APPLE,Smartwatch,Series 6 GPS + Cellular 40 mm Red Aluminium Case,Red,45690,49900,OLED Retina Display,4.5,Aluminium,1,NaN
391,APPLE,Smartwatch,Series 6 GPS 44 mm Blue Aluminium Case,Deep Navy,43900,43900,OLED Retina Display,4.5,Aluminium,1,NaN
477,GARMIN,Smartwatch,Vivomove 3S,Black,19990,25990,AMOLED Display,NaN,Silicone,14,NaN
512,GARMIN,Smartwatch,Vivomove 3S,Black,19990,25990,AMOLED Display,NaN,Silicone,14,NaN

In [49]:
df.to_csv('fitness_trackers_cleaned.csv', index=False)

In [50]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 606 entries, 0 to 609
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Brand Name                      606 non-null    object
 1   Device Type                     606 non-null    object
 2   Model Name                      606 non-null    object
 3   Color                           606 non-null    object
 4   Selling Price                   606 non-null    int64
 5   Original Price                  606 non-null    int64
 6   Display                         606 non-null    object
 7   Rating (Out of 5)               551 non-null    float64
 8   Strap Material                  606 non-null    object
 9   Average Battery Life (in days)  606 non-null    int64
 10  Reviews                         114 non-null    float64
dtypes: float64(2), int64(3), object(6)
memory usage: 56.8+ KB

In [51]:
df.describe()
df.columns

Index(['Brand Name', 'Device Type', 'Model Name', 'Color', 'Selling Price',
       'Original Price', 'Display', 'Rating (Out of 5)', 'Strap Material',
       'Average Battery Life (in days)', 'Reviews'],
      dtype='object')

In [52]:
df.columns
df.shape

(606, 11)